**/service--eureka/.idea/
**/service--eureka/.mvn/
**/service--eureka/target/
./service--eureka/mvnw
./service--eureka/mvnw.cmd
service--eureka/.idea/misc.xml
service--eureka/.idea/workspace.xml
**/deal/.idea/
**/deal/.mvn/
**/deal/data/
**/deal/gen/
**/deal/target/
deal/.idea/misc.xml
deal/.idea/workspace.xml
./deal/mvnw
./deal/mvnw.cmd

**bid/.idea/
**bid/.mvn/
bid/bid.iml
**bid/data/
bid/mvnw.cmd
bid/mvnw
**bid/target/

**message/.idea/
**message/.mvn/
**message/.mvn/
message/mvnw
message/mvnw.cmd
**message/target/
**message/data/
message/message.iml

**service--delivery/.idea/
service--delivery/HELP.md
service--delivery/service--delivery.iml
**service--delivery/target/
**user/.idea/
user/HELP.md
user/user.iml
**user/target/

**service--delivery
service--delivery
service--delivery